{% extends "layout.html" %}

{% block content %}
  <h1>Viewing Seats for {{ name }}</h1>

  <ul>
    {% for s in seats %}
    <div style='background-color: #eee; width: 200px; margin-bottom: 10px; padding: 20px;'>
      <h2 style='text-align: center;'><a href='/library/{{ s[1].lower() }}/{{ s[0] }}'>{{ s[0] }}</a></h2>
    </div>
    {% endfor %}    
  </ul>

<h2>Seat Advertisements</h2>

<table class='table'>
  <tbody>
    <thead>
      <th>Library</th>
      <th>Seat</th>
      <th>Ad</th>
      <th>Buy Seat</th>
    </thead>
{% for ad in ads %}
    <tr>
      <td>{{ ad['library_name'] }}</td>
      <td>{{ ad['seat_id'] }}</td>
      <td>{{ ad['text'].strip() }}</td>
      <td><a href="/library/{{ ad['library_name'].lower() }}/{{ ad['seat_id'] }}">buy</a></td>
    </tr>    
{% endfor %}
  </tbody>
</table>

{% endblock %}